
.navbar--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#navbar__logo {
    margin-bottom: 10px;
}

.navbar__link-container {
    margin-top: 10px;
}
h1 {
    box-sizing: border-box;
    text-align: center;
    font-size: 10em; /* Adjust the size as needed */
}

#navbar__logo, .navbar__link {
    font-size: 5em; /* Adjust the size as needed */
}
#navbar__logo img, .navbar__link img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}